* {
  background-color: #ffffff;
}
#content {
  display: flex;
  position: relative;
  top: 300px;
  justify-content: center;
  margin: 20px 50px 20px;
  text-align: center;
}

.sub {
  background-color: #d10000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: grab;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 50px;
  font-size: 50px;
}
.sub:hover {
  background-color: #b62020;
  opacity: 0.6;
}
.sub:active {
  background-color: #c7108a;
  opacity: 0.4;
}
.JOIN {
  color: #0821ff;
  border: 1px solid #2929df;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 50px;
  font-size: 50px;
}
.JOIN:hover {
  color: #ffffff;
  background-color: blue;
}
.JOIN:active {
  opacity: 0.4;
}
.Tweet {
  color: white;
  border: none;
  background-color: blue;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 50px;
  font-size: 50px;
}
.Tweet:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
